.home-page {
  width: 1000px;
  background: linear-gradient(90deg, #000, #200 20%, #200 80%, #000);
  padding: 0 20px;
}

.home-links {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.home-link {
  /* width: 100%; */
}

.welcome {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome > img:nth-child(1) {
  width: 700px;
}

.welcome > p {
  width: 700px;
  text-align: center;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .home-page {
    width: 100vw;
    padding: 0 20px;
  }

  .home-links {
    padding: 10px;
    margin-top: 20px;
  }

  .welcome {
    width: 100%;
    max-width: 700px;
  }

  .welcome > img:nth-child(1) {
    width: 100%;
  }

  .welcome > p {
    width: 95%;
    font-size: 18px;
  }
}
