.chara {
  width: 45%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  background-image: url("../../images/charabg1.png");
  border: 2px solid #ddd;
}

.chara > img {
  width: 50%;
  border-radius: 50%;
  border: 3px solid #ddd;
}

.chara-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ddd;
}

.chara-name {
  font-size: 40px;
}

.chara-films {
  font-size: 18px;
}

.chara-comment {
  font-size: 20px;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  .chara {
    min-width: 340px;
    height: 378px;
    padding: 8px;
  }

  .chara-name {
    font-size: 30px;
  }

  .chara-films {
    font-size: 16px;
  }

  .chara-comment {
    font-size: 18px;
  }
}
