.victims-movie-title {
  width: 100%;
  max-width: 1000px;
  height: 95px;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-top: 2px solid #fff;
}

.victims-movie-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.victims-movie-title > h2 {
  font-size: 48px;
  pointer-events: none;
}

.victims-movie-title > p {
  font-size: 28px;
  pointer-events: none;
}

.victims-movie-tiltle-icon {
  pointer-events: none;
}
.victims-movie-tiltle-icon > span {
  width: 15px;
  height: 4px;
  background-color: #ddd;
  position: absolute;
  pointer-events: none;
  transition: all 0.8s ease;
}

.victims-movie-tiltle-icon > span:nth-child(1) {
  bottom: 15px;
  left: 364px;
  transform: rotate(-45deg);
}

.victims-movie-tiltle-icon > span:nth-child(2) {
  bottom: 15px;
  left: 355px;
  transform: rotate(45deg);
}

.victims-movie-tiltle-icon > span:nth-child(3) {
  bottom: 15px;
  right: 355px;
  transform: rotate(-45deg);
}

.victims-movie-tiltle-icon > span:nth-child(4) {
  bottom: 15px;
  right: 364px;
  transform: rotate(45deg);
}

.icon-deployed-odd {
  transform: rotate(45deg) !important;
}
.icon-deployed-even {
  transform: rotate(-45deg) !important;
}

.victims-movie-container {
  width: 100%;
  height: 100%;
  max-height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease;
  column-gap: 3px;
  row-gap: 10px;
  padding: 0 2px;
}

.cs {
  height: 70px;
  position: relative;
  font-size: 40px;
}

.deployed {
  transition: all 1s ease;
  max-height: 3000px;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .victims-movie-title {
    height: 95px;
  }

  .victims-movie-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .victims-movie-title > h2 {
    font-size: 34px;
  }

  .victims-movie-tiltle-icon > span {
    width: 15px;
    height: 4px;
    background-color: #ddd;
    position: absolute;
    pointer-events: none;
    transition: all 0.8s ease;
  }

  .victims-movie-tiltle-icon > span:nth-child(1) {
    bottom: 15px;
    left: calc(50% + 130px);
    transform: rotate(-45deg);
  }

  .victims-movie-tiltle-icon > span:nth-child(2) {
    bottom: 15px;
    left: calc(50% + 121px);
    transform: rotate(45deg);
  }

  .victims-movie-tiltle-icon > span:nth-child(3) {
    bottom: 15px;
    right: calc(50% + 121px);
    transform: rotate(-45deg);
  }

  .victims-movie-tiltle-icon > span:nth-child(4) {
    bottom: 15px;
    right: calc(50% + 130px);
    transform: rotate(45deg);
  }
}
